<% content_for :custom_social do %>
  <%= social_meta_tags :description => strip_tags(current_article.summary) %>
<% end %>
<% wrap_layout :layout do %>
  <section class="blog-post">
    <section class="blog-post-header">
      <h1><%= current_article.title %></h1>
      <p class="article-published-on"><%= current_article.date.strftime("%d %b %Y") %></p>
    </section>
    <section class="blog-post-content">
      <%= yield %>
    </section>
    <section class="blog-post-navigation">
      <% if current_article.article_previous %>
        <p class="prev-post">
          Previous post: <%= link_to current_article.article_previous.title, current_article.article_previous.url %>
        </p>
      <% end %>
      <% if current_article.article_next %>
        <p class="next-post">
          Next post: <%= link_to current_article.article_next.title, current_article.article_next.url %>
        </p>
      <% end %>
    </section>
    <section class="comments">
      <%= partial "partials/blog/disqus" %>
    </section>
  </section>
<% end %>
