<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= (yield_content :title) || title_tag %>
    <%= (yield_content :custom_social) || social_meta_tags %>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/atom-one-dark.min.css">
    <%= stylesheet_link_tag "site" %>
    <%= yield_content :css %>
    <%= javascript_include_tag "site" %>
    <script src="https://kit.fontawesome.com/7616acbfe0.js"></script>
    <%= yield_content :js %>
  </head>
  <body>
    <%= partial "partials/header" %>
    <section class="content">
      <%= yield %>
      <%= yield_content :footer_js %>
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
      <script>hljs.initHighlightingOnLoad();</script>
      <script type="text/javascript"
     src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    </section>
  </body>
</html>
